@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-style: itatlic */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 16px;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
em {
  font-style: normal;
}
/* 고정 메뉴 */
.fix-menu {
  position: fixed;
  right: 0;
  top: 175px;
  width: 85px;
  z-index: 999999;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 9px 0 rgb(0 0 0 / 10%);
  padding: 15px 10px 29px 10px;
  overflow: hidden;
}
.fix-list {
  position: relative;
  display: block;
}
.fix-list > li {
  position: relative;
  display: block;
  text-align: center;
  font-size: 13px;
  white-space: nowrap;
  margin-bottom: 10px;
}
.fix-list > li > a {
  position: relative;
  display: block;
}
.fix-list > li > a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 36px;
  height: 32px;
  background: url("../images/icoFloating.png") no-repeat;
}
.fix-list > li span {
  position: relative;
  display: block;
}
.fix-login::after {
  background-position: 0 0;
}
.fix-shop::after {
  background-position: 0 -32px !important;
}
.good-recent {
  position: relative;
  display: inline-block !important;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.good-recent img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.good-recent::after {
  content: none !important;
}
.fix-qa::after {
  background-position: 0 calc(-32px * 2) !important;
}
.fix-talk::after {
  background-position: 0 calc(-32px * 3) !important;
}
.fix-top {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  line-height: 29px;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/* section 레이아웃 공통 */
.wrap > section {
  padding: 80px 0;
}
/* 타이틀 레이아웃 */
.section-title {
  position: relative;
  display: block;
  /* 인라인바꾼것 */
  font-size: 32px;
  color: #000;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
.section-title b {
  font-weight: 700;
}
.section-title .blue {
  color: #76bd42;
}

.section-bar {
  padding-bottom: 15px;
}
.section-bar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background: #707070;
}
.section-title-txt {
  position: relative;
  display: block;
  font-size: 15px;
  margin-bottom: 20px;
}
.section-bt {
  position: relative;
  display: block;
  width: 114px;
  height: 34px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #bbb;
  color: #666;
  background: #fff;
  font-size: 13px;
  transition: background 0.5s;
}
.section-bt:hover {
  background: #f9f9f9;
}
.slide-control {
  position: relative;
  display: block;
  margin-top: 0px;
  width: 140px;
}
.slide-prev,
.slide-next {
  position: absolute;
  top: 0;
  display: block;
  width: 26px;
  height: 20px;
  border: 0;
  font-size: 0;
  cursor: pointer;
}
.slide-prev {
  left: 0;
  background: url(../images/swiperArrP.png) no-repeat;
}
.slide-prev:hover {
  background-position: 0 -20px;
}
.slide-next {
  right: 0;
  background: url(../images/swiperArrN.png) no-repeat;
}
.slide-next:hover {
  background-position: 0 -20px;
}
.slide-pg {
  position: relative;
  display: block;
  text-align: center;
}
/* 제품 기본 레이아웃 */
.good-box {
  position: relative;
  display: block;
  width: 290px;
  height: 410px;
  background: #fff;
  overflow: hidden;
}
.good-img {
  position: relative;
  display: block;
  width: 100%;
  height: 290px;
  overflow: hidden;
}
.good-img > img {
  transition: transform 0.5s;
}
.good-img:hover > img {
  /* 사진 트랜스폼 */
  transform: scale(1.1);
}

.good-type {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #76bd42;
  font-size: 14px;
  font-weight: 500;
}
.good-info {
  position: relative;
  display: block;
  width: 100%;
  height: 60px;
  padding: 15px;
  font-size: 17px;
  color: #000;
}
.good-info em {
  font-style: normal;
}
.good-info-price {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 15px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
}
.good-info-price em {
  font-size: 17px;
  font-style: normal;
}
.good-add-cart {
  position: absolute;
  bottom: 45px;
  right: 20px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/btnCartList.png") no-repeat;
  background-position: 0px 0px;
  border: 0;
  cursor: pointer;
}
.good-wrap {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.no-mb-30 {
  margin-bottom: 0;
}
.good-wrap > .good-box {
  float: left;
  margin-right: calc((100% - (290px * 4)) / 3);
}
.good-wrap > .good-box:last-child {
  margin-right: 0;
  float: right;
}
/* 섹션 레이아웃 */
.layout-wrap {
  position: relative;
  display: block;
}
.layout-left {
  position: relative;
  display: block;
  width: calc(100% - 900px);
  float: left;
}
.layout-right {
  position: relative;
  display: block;
  width: 900px;
  float: right;
}
. .good-slide {
  position: relative;
  display: block;
}
.good-slide .good-box {
  float: left;
  margin-right: calc((100% - (290px * 3)) / 2);
}
.good-slide .good-box:last-child {
  margin-right: 0;
  float: right;
}
/* 제품 기본 레이아웃 */
/* 섹션 레이아웃 */
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  position: relative;
  display: block;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 30px 0;
}
.header-inner {
  position: relative;
  display: block;
}
.header-top {
  position: relative;
  display: block;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}
.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  /* line-height: 30px; */
  color: #666;
  border: 0;
  background: transparent;
  cursor: pointer;
  vertical-align: -3px;
}
.bt-schedule img {
  vertical-align: -3px;
}
.header-top-left {
  position: relative;
  display: block;
  float: left;
  /* inline 코딩 엔터키 공백 생기는 거 제거 */
  font-size: 0;
  letter-spacing: 0;
}
.header-top-right {
  position: relative;
  display: inline-block;
  float: right;
  bottom: 13px;
}
.header-top-right .track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -9px;
}
.member-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.member-list > li::after {
  content: "";
  position: absolute;
  top: 7px;
  /* top: 50%;
  transform: translateY(-50%); */
  right: 0;
  display: block;
  width: 1px;
  height: 8px;
  background: #bbb;
}
.member-list > li:last-child {
  padding-right: 0;
}
.member-list > li:last-child::after {
  content: none;
}
/* center-more는 js연동 */
.center-more {
  padding-right: 15px;
}
.center-more::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background: url("../images/icoMyMenu.png") no-repeat;
  background-position: 0 0;
}
.center-more:hover::after {
  background-position: 0 -6px;
}
.member-list > li > a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
}
.header-main {
  position: relative;
  display: block;
  padding: 13px 0;
}
.header-main-left {
  position: relative;
  display: block;
  float: left;
}
.header-main-right {
  position: relative;
  display: block;
  float: right;
}
.nav {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  margin-right: 45px;
}
.gnb {
  position: relative;
  display: block;
}
.gnb > li {
  position: relative;
  display: block;
  margin-right: 30px;
  float: left;
}
.gnb > li:last-child {
  margin-right: 0;
}
.gnb > li > a {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  line-height: 1;
}
.gnb > li > a:hover {
  color: #66cc34;
}
.join-bt:hover {
  color: #66cc34;
}
.ball::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  display: block;
  width: 5px;
  height: 5px;
  background: #f93;
  border-radius: 50%;
}
.all-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.all-bt i {
  margin-right: 15px;
}
.join-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.join-bt-icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url("../images/icoGnbArr2.png") no-repeat;
  background-position: 0 0;
  vertical-align: 2px;
  margin-left: 2px;
}
.join-bt:hover .join-bt-icon {
  background-position: 0 -8px;
}
.more-menu {
  position: relative;
  display: inline-block;
}
.more-menu-bt {
  border: 0;
  color: #666;
  background: transparent;
  font-size: 13px;
  vertical-align: 4px;
  cursor: pointer;
}
.more-menu-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/icoGnbArr3.png") no-repeat;
  background-position: 0 0;
  margin-left: 3px;
  vertical-align: 1px;
}
.more-menu-bt:hover {
  color: #76bd42;
}
.more-menu-bt:hover .more-menu-icon {
  background-position: 0 -6px;
}
.join-list,
.more-menu-list,
.center-list {
  position: absolute;
  display: block;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
  white-space: nowrap;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
  z-index: 1;
}
.join-list > li,
.more-menu-list > li,
.center-list > li {
  position: relative;
  display: block;
  padding: 7px 0;
  text-align: left;
}
.join-list > li > a,
.more-menu-list > li > a,
.center-list > li > a {
  position: relative;
  display: inline block;
  font-size: 15px;
  color: #666;
  line-height: 19px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.join-list > li > a:hover,
.more-menu-list > li > a:hover,
.center-list > li > a:hover {
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  /* text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px; */
}
.join-list {
  top: 32px;
}
.search-form {
  position: relative;
  display: block;
  float: left;
}
.search-txt {
  position: relative;
  display: block;
  border: 0;
  line-height: 40px;
  width: 320px;
  height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  font-size: 13px;
}
.search-txt:focus {
  outline: none;
  border: 1px solid #76bd42;
  color: #000;
}
.search-bt {
  position: absolute;
  display: block;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 18px;
  height: 18px;
  background: url("../images/btnSearch.png") no-repeat;
  cursor: pointer;
  font-size: 0;
  font-weight: 700;
}
.bucket {
  position: relative;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/btnCart.png") no-repeat;
  font-size: 0;
  float: left;
  margin-top: 6px;
  margin-left: 25px;
}
.bucket-count {
  position: absolute;
  right: -7px;
  top: -5px;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #76bd42;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  height: 410px;
  padding: 0 !important;
  overflow: hidden;
}
.visual-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.visual-slide-page a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.visual-prev,
.visual-next {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border: 0;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
}
.visual-prev {
  left: calc(50% - 600px);
  background: rgba(0, 0, 0, 0) url("../images/visualArrp.png") no-repeat;
  background-position: 0 -64px;
}
.visual-prev:hover {
  background: rgba(0, 0, 0, 0.3) url("../images/visualArrp.png") no-repeat;
  background-position: 0px 0px;
}
.visual-next {
  right: calc(50% - 600px);
  background: rgba(0, 0, 0, 0) url("../images/visualArrN.png") no-repeat;
  background-position: 0 -64px;
}
.visual-next:hover {
  background: rgba(0, 0, 0, 0.3) url("../images/visualArrN.png") no-repeat;
  background-position: 0 -0px;
}

.visual-control {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 600px + 60px);
  z-index: 888;
}
.visual-play {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/visualPlay.png") no-repeat;
  float: left;
  cursor: pointer;
  border: 0;
}
.visual-pg {
  position: relative;
  display: block;
  width: 52px;
  height: 30px;
  background: url("../images/visualNum.png") no-repeat;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
  float: left;
}
.visual-more {
  position: relative;
  display: block;
  width: 29px;
  height: 30px;
  background: url("../images/visualMore.png") no-repeat;
  cursor: pointer;
  border: 0;
  margin-left: 3px;
  float: left;
}
.center-list {
  display: none;
}
/* 오늘의 상품 */
.today {
}
.today-inner {
}
/* 알뜰 상품 */
.sale {
  position: relative;
  display: block;
  background: #edf9f9;
}
.sale-inner {
}
.sale .slide-control {
  margin-top: 105px;
}
/* 신상품 */
.new {
  position: relative;
  display: block;
}
.new .section-bt {
  position: absolute;
  right: 0;
  bottom: 0;
}

.new-inner {
}
.new-wrap {
  position: relative;
  display: block;
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
}
.new-left {
  position: relative;
  display: block;
  float: left;
  width: calc(50% - 8px);
}

.new-img {
  position: relative;
  display: block;
  height: 370px;
  overflow: hidden;
  margin-bottom: 10px;
}
.new-title {
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
}
.new-txt {
  position: relative;
  display: block;
  font-size: 17px;
}
.new-right {
  position: relative;
  display: block;
  float: right;
  width: calc(50% - 8px);
}
.new-box {
  position: relative;
  display: block;
  width: 288px;
}
.new-box-img {
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.new-box-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.new-box-title {
  position: relative;
  display: block;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.new-right .new-box:nth-child(2n + 1) {
  float: left;
}
.new-right .new-box:nth-child(2n) {
  float: right;
}
/* 추천 물품 */
.recommend {
  position: relative;
  display: block;
  background: #fff8f3;
}
.recommend-inner {
  margin-top: 20px;
}
/* 손보기 */
.recommend .section-title-txt {
  display: inline-block;
  font-size: 17px;
  border-bottom: 2px solid #76bd42;
}
.recommend .section-title-txt::after {
  content: "";
  position: absolute;
  display: block;
}
.recommend .slide-control {
  margin-top: 20px;
}
/* 인기 물품 */
.popular {
  position: relative;
  display: block;
}
.popular-more {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  height: 34px;
  padding: 0 20px;
  text-align: center;
  line-height: 32px;
  border: 1px solid #bbb;
  background: #fff;
  color: #666;
  font-size: 13px;
  transition: background 0.5s;
}
.popular-more:hover {
  background: #f9f9f9;
}
.popular-inner {
  position: relative;
  display: block;
}
.popular-cate {
  position: relative;
  display: block;
  margin-bottom: 40px;
}
.popular-slide-prev,
.popular-slide-next {
  position: relative;
  display: block;
  width: 80px;
  height: 140px;
}
.popular-slide-prev {
  float: left;
}
.popular-slide-prev span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 26px;
  height: 20px;
  background: url(../images/swiperArrP.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  font-size: 0;
}
.popular-slide-next {
  float: right;
}
.popular-slide-next span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 26px;
  height: 20px;
  background: url(../images/swiperArrN.png) no-repeat;
  background-position: 0 0;
  cursor: pointer;
  font-size: 0;
}
.popular-slide-prev span:hover {
  background-position: 0 -20px;
}
.popular-slide-next span:hover {
  background-position: 0 -20px;
}
.popular-slide {
  position: relative;
  display: block;
  width: calc(100% - 160px);
  height: 140px;
  float: left;
}
.popular-slide a {
  position: relative;
  display: block;
  width: 140px;
  height: 140px;
  background: #f9f9f9;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
  float: left;
  margin-right: 10px;
}
.popular-slide a:last-child {
  margin-right: 0;
}
.popular-slide a:hover {
  background: #fff;
  border: 1px solid #76bd42;
}
/* 마우스 올리면 배경 바꾸기 */
.popular-slide a:hover .popular-cate-icon {
  background-position: 0 -64px;
}
.popular-cate-icon {
  position: relative;
  display: block;
  width: 65px;
  height: 64px;
  overflow: hidden;
  background: url(../images/);
  margin: 20px auto;
  background-position: 0 0;
}
.popular-cate-name {
  position: relative;
  display: block;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
}
/* 카테고리 아이콘 관련 */
.cate-icon-1 {
  background: url(../images/icon_1.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-2 {
  background: url(../images/icon_2.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-3 {
  background: url(../images/icon_3.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-4 {
  background: url(../images/icon_4.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-5 {
  background: url(../images/icon_5.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-6 {
  background: url(../images/icon_6.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-7 {
  background: url(../images/icon_7.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-8 {
  background: url(../images/icon_8.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-9 {
  background: url(../images/icon_9.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-10 {
  background: url(../images/icon_10.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-11 {
  background: url(../images/icon_11.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-12 {
  background: url(../images/icon_12.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-13 {
  background: url(../images/icon_13.png) no-repeat;
  background-position: 0 0px;
}
.cate-icon-14 {
  background: url(../images/icon_14.png) no-repeat;
  background-position: 0 0px;
}
/* 브랜드관 */
.brand {
  position: relative;
  display: block;
  background: #f3f9f3;
}
.brand-inner {
}
.brand .slide-control {
  margin-top: 25px;
}
.brand-slide {
  position: relative;
  display: block;
}
.brand-box {
  position: relative;
  display: block;
  width: 285px;
  height: 285px;
  background: #fff;
  padding: 35px 30px;
  float: left;
}
.brand-box a {
  display: block;
  text-align: center;
}
.brand-box a img {
  display: inline-block;
}
.brand-box a p {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 40px;
}
.brand-info {
}
.brand-info > li {
  width: 50%;
  float: left;
  border-right: 1px solid #e3e3e3;
}
.brand-info > li:last-child {
  border-right: 0;
}
.brand-info-title {
  position: relative;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.brand-info-value {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
}
/* 배너 */
.banner {
  position: relative;
  display: block;
  padding-bottom: 0 !important;
}
.banner-inner {
  position: relative;
  display: block;
}
.banner-slide {
  position: relative;
  display: block;
}
.banner-slide a {
  position: relative;
  display: block;
  width: 50%;
  float: left;
}
.banner-slide-prev,
.banner-slide-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 19px;
  height: 34px;
  cursor: pointer;
  border: 0;
  z-index: 100;

  background-position: 0 0;
}
.banner-slide-prev {
  left: 20px;
  background: url(../images/banner_arrow.png);
}
.banner-slide-prev:hover {
  background-position: 0 -34px;
}
.banner-slide-next {
  right: 20px;
  background: url(../images/banner_arrow.png);
  transform: translateY(-50%) rotateY(180deg);
}
.banner-slide-next:hover {
  background-position: 0 -34px;
}
/* 제철요리 */
.season {
  position: relative;
  display: block;
  width: 100%;
}
.season-inner {
  position: relative;
  display: block;
}
.season-wrap {
  position: relative;
  display: block;
}
.season-left {
  position: relative;
  display: block;
  width: 790px;
  height: 420px;
  float: left;
}
.season-left a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.season-left a > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.season-info {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
}
.season-info h3 {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  background: #76bd76;
  padding: 95px 15px 25px 15px;
  vertical-align: -10px;
}
.season-info p {
  position: relative;
  display: block;
  width: 490px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  padding: 40px 30px;
  float: right;
}
.season-info p span {
  position: relative;
  display: inline-block;
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
}
.season-info p b {
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}
.season-right {
  position: relative;
  display: block;
  width: calc(100% - 790px - 70px);
  float: right;
}
.season-list {
  position: relative;
  display: block;
  background: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}
.season-good-list {
  position: relative;
  display: block;
  width: 100%;
  height: calc(85px * 3);
  overflow: hidden;
}
.season-good-list > li {
  position: relative;
  display: block;
}
.season-good {
  position: relative;
  display: block;
  height: 70px;
  margin-bottom: 15px;
}
.season-good-check {
  position: absolute;
  left: -200000px;
  top: 0;
  display: block;
}
.season-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background: url("../images/inpCheck.png") no-repeat;
  background-position: 0 0px;
  font-size: 0;
}
.season-good-check:checked + label {
  background-position: 0 -36px;
}
/*  + : 선택자 아래에서 한개만 찾는다.
    ~ : 아래에서 전부 찾는다.
*/
.season-good-img {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  margin-left: 40px;
  overflow: hidden;
  float: left;
}
.season-good-img > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.season-good-info {
  position: relative;
  display: block;
  padding: 10px 20px;
  float: left;
}
.season-good-title {
  position: relative;
  display: block;
  font-size: 15px;
}
.season-good-price {
  position: relative;
  display: block;
  font-size: 13px;
}
.season-good-price em {
  position: relative;
  display: inline-block;
  font-size: 20px;
}
.season-total {
  position: relative;
  display: block;
}
.season-good-total {
  position: relative;
  display: block;
  padding-left: 40px;
  font-size: 20px;
  color: #000;
  margin: 30px 0;
}
.buy-good {
  position: relative;
  display: block;
  border: 1px solid #bbb;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

/* 이용후기 */
.review {
  position: relative;
  display: block;
  background: #fcf6f2;
}
.review-inner {
}
.review-slide {
  position: relative;
  display: block;
  width: 100%;
  height: 235px;
}
.review-box {
  position: relative;
  display: block;
  width: 290px;
  height: 100%;
  background: #fff;
  float: left;
  margin-right: 15px;
  padding: 20px;
}
.review-box:last-child {
  margin-right: 0;
}
.review-box a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.review-box-desc {
  position: relative;
  display: block;
  width: 100%;
  height: 66px;
  margin-bottom: 15px;
}
.review-box-title {
  position: relative;
  display: block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px;
  margin-bottom: 10px;
}
.review-box-star {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  font-weight: 500;
  line-height: 1;
  font-weight: 500;
  padding-left: 25px;
}
.review-box-star::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  background: url("../images/icoRating.png");
}
.reviewe-box-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 66px;
  height: 66px;
  overflow: hidden;
}
.reviewe-box-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.review-box-txt {
  position: relative;
  display: block;
  width: 100%;
  font-size: 13px;
  /* 3줄 이상 말줄임 표현 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}
.review-box-user {
  position: relative;
  display: block;
  font-size: 13px;
}
/* 커뮤니티 */
.community {
  position: relative;
  display: block;
}
.community-inner {
}
.community-notice {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding: 0 40px;

  float: left;
}
.community-notice > dl {
  position: relative;
  display: block;
}
.community-notice > dl > dt {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.community-notice > dl > dt:nth-child(1) {
  padding-left: 0;
}
.community-notice > dl > dt:nth-child(1)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 18px;
  background: #e8e8e8;
}
.community-bt {
  position: relative;
  display: block;
  border: 0;
  cursor: pointer;
  background: transparent;
  font-size: 20px;
  color: #999;
}
.community-bt-active {
  color: #000;
  font-weight: 700;
}
.community-bt:nth-of-type(1) {
}
.community-notice > dl > dd {
  position: absolute;
  left: 0;
  top: 50px;
  display: block;
  width: 100%;
}
.community-info {
  width: calc(100% / 3);
  padding: 0 40px;
  float: left;
}
.community-visible-active {
  display: block !important;
}
.notice-list {
  position: relative;
}
.notice-list > li {
  line-height: 1;
  margin-bottom: 15px;
}
.notice-list > li > a {
  font-size: 13px;
}
.notice-list > li > a > span {
  display: inline-block;
  width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.notice-list > li > a > em {
  position: relative;
  display: inline-block;
  width: calc(100% - 240px);
  color: #999;
  text-align: right;
  /* vertical-align: 7px; */
}
.community-info dl {
  position: absolute;
  left: 0;
  top: 50px;
  display: block;
  width: 100%;
}
.community-info h3 {
  position: relative;
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.tel {
  position: relative;
  display: block;
  font-size: 32px;
  font-weight: 700;
  color: #76bd42;
  margin-bottom: 15px;
}
.community-info-list {
}
.community-info-list li {
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}
.t1 {
  color: #666;
}
.t2 {
  color: #000;
}
.t3 {
  color: #000;
}
.community-info-list > li > b {
  font-weight: 700;
}
.community-info-list > li > a {
  font-weight: 700;
}
.community-help {
  width: calc(100% / 3);
  padding: 0 40px;
  float: left;
}
.community-help h3 {
  position: relative;
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.community-help-list {
}
.community-help-list > li {
  width: calc(50% - 5px);
  margin-bottom: 10px;
}
.community-help-list > li:nth-child(2n + 1) {
  float: left;
}
.community-help-list > li:nth-child(2n) {
  float: right;
}
.community-help-list > li > a {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 0 12px;
  line-height: 36px;
  font-size: 13px;
  color: #333;
}
.community-help-list li a::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 8px;
  height: 12px;
  background: url("../images/icoFaq.png") no-repeat;
}
.community-line {
  position: relative;
  display: block;
}
.community-line::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1px;
  height: 190px;
  background: #ddd;
}
/* 하단 */
.footer {
  position: relative;
}
.footer-inner {
  display: block;
}
.footer-top {
  position: relative;
  display: block;
  border-top: 1px solid #f2f2f2;
}
.footer-menu {
  position: relative;
  display: block;
  padding: 20px 0;
  z-index: 100;
  float: left;
}
.footer-menu > li {
  position: relative;
  display: block;
  padding: 0 10px;
  float: left;
}
.footer-menu > li::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 2px;
  background: #a9b0b8;
}
.footer-menu > li:first-child {
  padding-left: 0;
}
.footer-menu > li:last-child {
  padding-right: 0;
}
.footer-menu > li:last-child::after {
  content: none;
}
.footer-menu > li a {
  position: relative;
  display: block;
  font-size: 13px;
}
.footer-link {
  position: relative;
  display: block;
  background: #fff;
  border: 0;
  cursor: pointer;
  color: #666;
  height: 100%;
  line-height: 64px;
  font-size: 13px;
  z-index: 100;
  padding: 0 15px;
  float: right;
}
.blank {
  display: inline-block;
  width: 30px;
}
.footer-link::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../images/btnMore.png") no-repeat;
  vertical-align: 0px;
}
.footer-main {
  position: relative;
  display: block;
  border-top: 1px solid #f2f2f2;
  padding: 20px 0;
}
.footer-copy {
  position: relative;
  display: block;
  float: left;
}
.copy-list {
  position: relative;
  display: block;
}
.copy-list > li {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: #666;
}
.copy-list > li > span {
  position: relative;
  display: inline-block;
  padding: 0 8px;
}
.copy-list > li > span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 10px;
  background: #e5e5e5;
}
.copy-list > li > span:last-child::after {
  content: none;
}
.copy-list > li > span:first-child {
  padding-left: 0;
}
.copy-list > li > span:last-child {
  padding-left: 0;
}
.copy-txt {
  position: relative;
  display: block;
  color: #999;
  font-size: 11px;
  margin-top: 20px;
}
.footer-sns {
  position: relative;
  display: block;
  float: right;
}
.sns-list {
  position: relative;
  display: block;
}
.sns-list > li {
  position: relative;
  display: block;
  padding: 0 10px;
  float: left;
}
.sns-list > li > a {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background: url(../images/ftSns.png) no-repeat;
}
.is {
  background-position: 0 -26px !important;
}
.fb {
  background-position: 0 0 !important;
}
.nb {
  background-position: 0 calc(-26px * 2) !important;
}
.yt {
  background-position: 0 calc(-26px * 3) !important;
}
.kk {
  background-position: 0 calc(-26px * 4) !important;
}
