@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-style: itatlic */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 16px;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  color: #000;
}
/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.container {
  position: relative;
  display: block;
  width: 1200px;
  margin: 0 auto;
}
/* 타이틀 레이아웃 */
/* 제품 기본 레이아웃 */
/* 섹션 레이아웃 */
/* 레이아웃 */
.wrap {
  position: relative;
  display: block;
}
/* 상단 */
.header {
  position: relative;
  display: block;
  z-index: 9999;
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 30px 0;
}
.header-inner {
  position: relative;
  display: block;
}
.header-top {
  position: relative;
  display: block;
}
.logo {
  position: relative;
  display: inline-block;
  margin-right: 18px;
}
.bt-schedule {
  position: relative;
  display: inline-block;
  font-size: 13px;
  /* line-height: 30px; */
  color: #666;
  border: 0;
  background: transparent;
  cursor: pointer;
  vertical-align: -3px;
}
.bt-schedule img {
  vertical-align: -3px;
}
.header-top-left {
  position: relative;
  display: block;
  float: left;
  /* inline 코딩 엔터키 공백 생기는 거 제거 */
  font-size: 0;
  letter-spacing: 0;
}
.header-top-right {
  position: relative;
  display: inline-block;
  float: right;
  bottom: 13px;
}
.header-top-right .track {
  position: relative;
  display: inline-block;
}
.member-list {
  position: relative;
  display: inline-block;
  vertical-align: -9px;
}
.member-list > li {
  position: relative;
  display: block;
  float: left;
  padding: 0 10px;
}
.member-list > li::after {
  content: "";
  position: absolute;
  top: 7px;
  /* top: 50%;
  transform: translateY(-50%); */
  right: 0;
  display: block;
  width: 1px;
  height: 8px;
  background: #bbb;
}
.member-list > li:last-child {
  padding-right: 0;
}
.member-list > li:last-child::after {
  content: none;
}
/* center-more는 js연동 */
.center-more {
  padding-right: 15px;
}
.center-more::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 6px;
  background: url("../images/icoMyMenu.png") no-repeat;
  background-position: 0 0;
}
.center-more:hover::after {
  background-position: 0 -6px;
}
.member-list > li > a {
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
}
.center-list {
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  z-index: 1;
}
.center-list > li {
  position: relative;
  display: block;
}
.center-list > li > a {
  position: relative;
  display: block;
  color: #666;
  font-size: 14px;
  white-space: nowrap;
}
.header-main {
  position: relative;
  display: block;
  padding: 13px 0;
}
.header-main-left {
  position: relative;
  display: block;
  float: left;
}
.header-main-right {
  position: relative;
  display: block;
  float: right;
}
.nav {
  position: relative;
  display: inline-block;
  padding-top: 12px;
  margin-right: 45px;
}
.gnb {
  position: relative;
  display: block;
}
.gnb > li {
  position: relative;
  display: block;
  margin-right: 30px;
  float: left;
}
.gnb > li:last-child {
  margin-right: 0;
}
.gnb > li > a {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  line-height: 1;
}
.gnb > li > a:hover {
  color: #66cc34;
}
.join-bt:hover {
  color: #66cc34;
}
.ball::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  display: block;
  width: 5px;
  height: 5px;
  background: #f93;
  border-radius: 50%;
}
.all-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.all-bt i {
  margin-right: 15px;
}
.join-bt {
  position: relative;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  border: 0;
  background: transparent;
}
.join-bt-icon {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url("../images/icoGnbArr2.png") no-repeat;
  background-position: 0 0;
  vertical-align: 2px;
  margin-left: 2px;
}
.join-bt:hover .join-bt-icon {
  background-position: 0 -8px;
}
.more-menu {
  position: relative;
  display: inline-block;
}
.more-menu-bt {
  border: 0;
  color: #666;
  background: transparent;
  font-size: 13px;
  vertical-align: 4px;
  cursor: pointer;
}
.more-menu-icon {
  display: inline-block;
  width: 10px;
  height: 6px;
  background: url("../images/icoGnbArr3.png") no-repeat;
  background-position: 0 0;
  margin-left: 3px;
  vertical-align: 1px;
}
.more-menu-bt:hover {
  color: #76bd42;
}
.more-menu-bt:hover .more-menu-icon {
  background-position: 0 -6px;
}
.join-list,
.more-menu-list,
.center-list {
  position: absolute;
  display: block;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
  white-space: nowrap;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 16%);
  z-index: 1;
}
.join-list > li,
.more-menu-list > li,
.center-list > li {
  position: relative;
  display: block;
  padding: 7px 0;
  text-align: left;
}
.join-list > li > a,
.more-menu-list > li > a,
.center-list > li > a {
  position: relative;
  display: inline block;
  font-size: 15px;
  color: #666;
  line-height: 19px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.join-list > li > a:hover,
.more-menu-list > li > a:hover,
.center-list > li > a:hover {
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  /* text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px; */
}
.join-list {
  top: 32px;
}
.search-form {
  position: relative;
  display: block;
  float: left;
}
.search-txt {
  position: relative;
  display: block;
  border: 0;
  line-height: 40px;
  width: 320px;
  height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  border: 1px solid #f7f7f7;
  background: #f7f7f7;
  font-size: 13px;
}
.search-txt:focus {
  outline: none;
  border: 1px solid #76bd42;
  color: #000;
}
.search-bt {
  position: absolute;
  display: block;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 18px;
  height: 18px;
  background: url("../images/btnSearch.png") no-repeat;
  cursor: pointer;
  font-size: 0;
  font-weight: 700;
}
.bucket {
  position: relative;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/btnCart.png") no-repeat;
  font-size: 0;
  float: left;
  margin-top: 6px;
  margin-left: 25px;
}
.bucket-count {
  position: absolute;
  right: -7px;
  top: -5px;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #76bd42;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 700;
}

/* 비주얼 */
.visual {
}
.visual-inner {
}
/* 오늘의 상품 */
.today {
}
.today-inner {
}
/* 알뜰 상품 */
.sale {
}
.sale-inner {
}
/* 신상품 */
.new {
}
.new-inner {
}
/* 추천 물품 */
.recommend {
}
.recommend-inner {
}
/* 인기 물품 */
.popular {
}
.popular-inner {
}
/* 브랜드관 */
.brand {
}
.brand-inner {
}
/* 배너 */
.banner {
}
.banner-inner {
}
/* 제철요리 */
.season {
}
.season-inner {
}
/* 이용후기 */
.review {
}
.review-inner {
}
/* 커뮤니티 */
.community {
}
.community-inner {
}
/* 하단 */
.footer {
  position: relative;
}
.footer-inner {
  display: block;
}
